@{
    Validation.RequireField("textCpf", "CAMPO OBRIGATÓRIO!");
    Validation.RequireField("textNome", "CAMPO OBRIGATÓRIO!");
    Validation.RequireField("dtNascimento", "CAMPO OBRIGATÓRIO!");
    Validation.RequireField("opRadio", "CAMPO OBRIGATÓRIO!");
    Validation.RequireField("textEndereco", "CAMPO OBRIGATÓRIO!");
    Validation.RequireField("tel1", "CAMPO OBRIGATÓRIO!");
    Validation.RequireField("email", "CAMPO OBRIGATÓRIO!");

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var dbX = WebMatrix.Data.Database.Open("dbBancoPIM");

    var sala = dbX.Query("SELECT*FROM Sala");
    var turma = dbX.Query("SELECT*FROM Turma");

    dbX.Close();
}

@{ 
    if (IsPost && Validation.IsValid())
    {
        var db = WebMatrix.Data.Database.Open("dbBancoPIM");

        <!--Dados do Cuidador-->
        string cpf = Request.Form["textCpf"];
        string nome = Request.Form["textNome"];
        DateTime dataNascimento = Request.Form["dtNascimento"].AsDateTime();
        string sexo = Request.Form["opRadio"];
        string endereco = Request.Form["textEndereco"];
        string telefone1 = Request.Form["tel1"];
        string telefone2 = Request.Form["tel2"];
        string email = Request.Form["email"];
        decimal idTurma = Request.Form["sTurma"].AsDecimal();
        decimal idSala = Request.Form["sSala"].AsDecimal();
        DateTime dtAdmissao = DateTime.Now;


        <!--Pesquisar sobre validação de formulario-->
        db.Execute("INSERT INTO Cuidador (cpf, nome, endereco, sexo, telefone1, telefone2, email, dtNascimento, dtAdmissao, idTurma, idSala)" +
            " VALUES(@0, @1, @2, @3, @4, @5, @6, @7, @8, @9, @10)", cpf, nome, endereco, sexo, telefone1, telefone2, email, dataNascimento, dtAdmissao, idTurma, idSala);

        db.Close();

        <h1 class="text-success">Cadastro realizado com sucesso!</h1>
        <hr />
        <a href="~/Index.cshtml" class="btn btn-success">Voltar</a>

    }
    else
    {
        <form method="post" action="">
            <h3 class="text-primary">Cadastro do Cuidador</h3>
            <hr />
            <!--Dados do Cuidador-->
            <h4 class="text-info">Dados do Cuidador</h4>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="textCpf">CPF: </label>
                        <input type="text" name="textCpf" class="form-control" />
                        @Html.ValidationMessage("textCpf")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="textNome">Nome: </label>
                        <input type="text" name="textNome" class="form-control" />
                        @Html.ValidationMessage("textNome")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="dtNascimento">Data de Nascimento:</label>
                        <input type="date" name="dtNascimento" class="form-control" />
                        @Html.ValidationMessage("dtNascimento")
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="rSexo">Sexo:</label>
                        <p></p>
                        <label class="radio-inline"><input type="radio" value="M" name="opRadio">Masculino</label>
                        <label class="radio-inline"><input type="radio" value="F" name="opRadio">Feminino</label><br />
                        @Html.ValidationMessage("opRadio")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="textEndereco">Endereço: </label>
                        <input type="text" name="textEndereco" class="form-control" />
                        @Html.ValidationMessage("textEndereco")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="tel">Telefone 1: </label>
                        <input type="tel" name="tel1" id="tel" class="form-control" />   
                        @Html.ValidationMessage("tel1")
                    </div>                    
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="tel2">Telefone 2: </label>
                        <input type="tel" name="tel2" id="tel2" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="textNome">Email: </label>
                        <input type="email" name="Email" class="form-control" />
                        @Html.ValidationMessage("Email")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="sala">Sala:</label>
                        <select name="sSala" class="form-control">
                            @foreach (var s in sala)
                            {
                                <option value="@s.idSala">@s.nome</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="turma">Turma:</label>
                        <select name="sTurma" class="form-control">
                            @foreach (var t in turma)
                            {
                                <option value="@t.idTurma">@t.periodo</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <a href="~/Index.cshtml" class="btn btn-danger">Cancelar</a> | <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    }

}