@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var db = WebMatrix.Data.Database.Open("dbBancoPIM");

    var sala = db.Query("SELECT*FROM Sala");
    var turma = db.Query("SELECT*FROM Turma");

    db.Close();
}

<h3 class="text-primary">Matrícula da Criança</h3>
<hr />
<h4>Buscar Responsável</h4>
<hr />


<form method="post" action="~/Views/Responsavel/PesquisaResponsavel.cshtml">
<div class="row">
    <br />
        <div class="form-group">
            <label for="txtBuscarCpfReso"> Informe o CPF do Responsável:</label>
            <div class="row">
                <div class="col-md-2">
                    <input type="text" name="txtCpfBusca" class="form-control" />
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success"> Buscar </button> 
                </div>
            </div>
    </div>
</div>
</form>
<br />
<hr />
<!--Dados da Crianca-->
<form method="post" action="">
    <br />
    <h4 class="text-info">Dados da Criança</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="textCpf"></label>
                <input type="hidden" name="textCpf" value="" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="textNome">Nome: </label>
                <input type="text" name="textNome" id="nome" placeholder="Nome" class="form-control" />
                @Html.ValidationMessage("textNome")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="dtNascimento">Data de Nascimento:</label>
                <input type="text" name="dtNascimento" id="dtNasc" placeholder="00/00/0000" class="form-control" />
                @Html.ValidationMessage("dtNascimento")
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="rSexo">Sexo:</label>
                <p></p>
                <label class="radio-inline">
                    <input type="radio" value="M" name="opRadio">Masculino
                </label>
                <label class="radio-inline">
                    <input type="radio" value="F" name="opRadio">Feminino
                </label><br />
                @Html.ValidationMessage("opRadio")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="sala">Sala:</label>
                <select name="sSala" class="form-control">
                    @foreach (var s in sala)
                    {
                        <option value="@s.idSala">@s.nome</option>
                    }
                </select>
                @Html.ValidationMessage("sSala")
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="turma">Turma:</label>
                <select name="sTurma" class="form-control">
                    @foreach (var t in turma)
                    {
                        <option value="@t.idTurma">@t.periodo</option>
                    }
                </select>
                @Html.ValidationMessage("sTurma")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="taObs">Observações:</label>
                <textarea name="taObs" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <a href="~/Index.cshtml" class="btn btn-danger">Cancelar</a> | <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>